@import url("Modules/sticky-footer/sticky-footer.css");
@import url("Modules/Margin/marginSelect.css");
@import url("Modules/FullScreen/fullScreen.css");
@import url("Modules/Mediaqueries/mediaQuiries.css");
.borderNav {
  border: 1px solid blue;
}
.posRelative {
  position: relative;
}
.bgNone {
  background: none;
  color: #007bff;
  border: none;
}
.alignCenter {
  margin: 10px auto;
}
.wrap {
  display: flex;
}
.bgModal {
  background: #f8f2f4;
}
.posAbs {
  position: absolute;
}
